/* body {
    background-image: url("../images/light-grey-terrazzo.png");
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
} */

#gameDirections {
    background-color: lightgray;
}

#btnPink {
    width: 75px;
    height: 75px;
    background-color: fuchsia;
    text-align: center;
    float: left;
}

#btnOrange {
    width: 75px;
    height: 75px;
    background-color: orange;
    text-align: center;
    float: left;
}

#btnGreen {
    width: 75px;
    height: 75px;
    background-color: green;
    text-align: center;
    float: left;
}

#btnBlue {
    width: 75px;
    height: 75px;
    background-color: blue;
    text-align: center;
    float: left;
}

#displayCrystal {
    width: 200px;
    height: 200px;
    background-color: yellow;    
    text-align: center; 
}
#winDisplay{
    width: 100px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    float: left;
    
}
#lossDisplay{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    float: left;
    
}

#displayScore {
    width: 200px;
    height: 200px;
    background-color: lightgrey;  
    text-align: center; 
}

